# Preprocessing DOS

In [1]:
!ls ../data

dos.json  normal.json

In [2]:
import pandas as pd

In [3]:
dos = pd.read_json('../data/dos.json')

In [4]:
dos.sample(5)

      IP_len direction  frequency  len2  port_open protocol  service  ttl
2225      40        IN       3876    20         45      TCP  unknown   21
1920      40        IN       3571    20         45      TCP  unknown   21
676       40        IN       2327    20         45      TCP  unknown   21
59        40        IN       1710    20         45      TCP  unknown   21
1555      40        IN       3206    20         45      TCP  unknown   21

In [5]:
normal = pd.read_json('../data/normal.json')
normal.sample(5)

       IP_len direction  frequency  len2  port_open protocol service  ttl
4073     1500        IN       1431  1480        443      TCP   https   57
503      1500        IN         29  1480        443      TCP   https  242
11922    1500        IN       3543  1480        443      TCP   https   58
9608       52        IN         45    32        443      TCP   https  225
12224    1500        IN       3822  1480        443      TCP   https   58

In [6]:
normal.service.unique()

array(['ntp', 'unknown', 'domain', 'http', 'https'], dtype=object)

In [7]:
normal.protocol.unique()

array(['UDP', 'TCP'], dtype=object)

In [8]:
dos.service.unique()

array(['unknown'], dtype=object)

# Set labels

In [9]:
dos['label'] = 'dos'

In [10]:
dos.sample(5)

,IP_len,direction,frequency,len2,port_open,protocol,service,ttl,label
2549,40,IN,4200,20,45,TCP,unknown,21,dos
1233,40,IN,2884,20,45,TCP,unknown,21,dos
2384,40,IN,4035,20,45,TCP,unknown,21,dos
883,40,IN,2534,20,45,TCP,unknown,21,dos
858,40,IN,2509,20,45,TCP,unknown,21,dos

In [11]:
normal['label'] = 'normal'
normal.sample(5)

,IP_len,direction,frequency,len2,port_open,protocol,service,ttl,label
1027,1500,IN,243,1480,443,TCP,https,57,normal
4649,1500,IN,18,1480,443,TCP,https,52,normal
1934,339,IN,10,319,443,TCP,https,57,normal
693,1500,IN,99,1480,443,TCP,https,57,normal
8335,1470,IN,254,1450,443,TCP,https,121,normal

In [12]:
len(normal)

12810

In [13]:
len(dos)

3293

In [14]:
dos_sample = dos.sample(500)
dos_sample.sample(20)

,IP_len,direction,frequency,len2,port_open,protocol,service,ttl,label
510,40,IN,2161,20,45,TCP,unknown,21,dos
1889,40,IN,3540,20,45,TCP,unknown,21,dos
929,40,IN,2580,20,45,TCP,unknown,21,dos
1872,40,IN,3523,20,45,TCP,unknown,21,dos
451,40,IN,2102,20,45,TCP,unknown,21,dos
2042,40,IN,3693,20,45,TCP,unknown,21,dos
487,40,IN,2138,20,45,TCP,unknown,21,dos
371,40,IN,2022,20,45,TCP,unknown,21,dos
283,40,IN,1934,20,45,TCP,unknown,21,dos
1882,40,IN,3533,20,45,TCP,unknown,21,dos
3201,40,IN,4852,20,45,TCP,unknown,21,dos
310,40,IN,1961,20,45,TCP,unknown,21,dos
3251,40,IN,4902,20,45,TCP,unknown,21,dos
1898,40,IN,3549,20,45,TCP,unknown,21,dos
3243,40,IN,4894,20,45,TCP,unknown,21,dos
998,40,IN,2649,20,45,TCP,unknown,21,dos
490,40,IN,2141,20,45,TCP,unknown,21,dos
1097,40,IN,2748,20,45,TCP,unknown,21,dos
3171,40,IN,4822,20,45,TCP,unknown,21,dos
1407,40,IN,3058,20,45,TCP,unknown,21,dos

In [15]:
normal_sample = normal.sample(500)
normal_sample.sample(20)

,IP_len,direction,frequency,len2,port_open,protocol,service,ttl,label
12527,52,IN,45,32,443,TCP,https,57,normal
3737,1500,IN,1134,1480,443,TCP,https,57,normal
4444,1470,IN,172,1450,443,TCP,https,121,normal
2826,1500,IN,672,1480,443,TCP,https,57,normal
2726,60,IN,1,40,80,TCP,http,242,normal
12451,64,IN,11,44,443,TCP,https,57,normal
5456,1470,IN,53,1450,443,TCP,https,121,normal
2400,1500,IN,422,1480,443,TCP,https,57,normal
6040,103,IN,80,83,443,TCP,https,52,normal
8506,52,IN,21,32,443,TCP,https,53,normal
1885,245,IN,144,225,53,UDP,domain,64,normal
9186,92,OUT,368,72,53,UDP,domain,64,normal
11900,1500,IN,3528,1480,443,TCP,https,58,normal
5975,52,IN,39,32,443,TCP,https,241,normal
9355,1500,IN,1170,1480,443,TCP,https,58,normal
6930,1500,IN,345,1480,443,TCP,https,58,normal
2703,1493,IN,29,1473,443,TCP,https,52,normal
807,1500,IN,23,1480,443,TCP,https,57,normal
11653,1500,IN,3296,1480,443,TCP,https,58,normal
2020,1500,IN,398,1480,443,TCP,https,57,normal

In [16]:
data= pd.concat([dos_sample, normal_sample])
data.sample(20)

,IP_len,direction,frequency,len2,port_open,protocol,service,ttl,label
3835,1500,IN,1227,1480,443,TCP,https,57,normal
9034,1500,IN,55,1480,443,TCP,https,58,normal
2244,40,IN,3895,20,45,TCP,unknown,21,dos
1638,40,IN,3289,20,45,TCP,unknown,21,dos
3240,40,IN,4891,20,45,TCP,unknown,21,dos
1324,40,IN,2975,20,45,TCP,unknown,21,dos
4893,1500,IN,157,1480,443,TCP,https,52,normal
2107,40,IN,3758,20,45,TCP,unknown,21,dos
12,73,OUT,3,53,53,UDP,domain,64,normal
1312,40,IN,2963,20,45,TCP,unknown,21,dos
3068,40,IN,4719,20,45,TCP,unknown,21,dos
488,40,IN,2139,20,45,TCP,unknown,21,dos
1647,1500,IN,360,1480,443,TCP,https,57,normal
10110,1500,IN,1870,1480,443,TCP,https,58,normal
10395,1500,IN,2148,1480,443,TCP,https,58,normal
11514,1500,IN,3162,1480,443,TCP,https,58,normal
3290,40,IN,4941,20,45,TCP,unknown,21,dos
4726,83,IN,349,63,443,TCP,https,121,normal
2303,40,IN,3954,20,45,TCP,unknown,21,dos
227,40,IN,1878,20,45,TCP,unknown,21,dos

In [17]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [18]:
import numpy as np

In [19]:
x = pd.get_dummies(data, prefix_sep='_', columns=['direction', 'protocol', 'service'])

In [20]:
x.sample(20)

,IP_len,frequency,len2,port_open,ttl,label,direction_IN,direction_OUT,protocol_TCP,protocol_UDP,service_domain,service_http,service_https,service_unknown
2606,40,4257,20,45,21,dos,1,0,1,0,0,0,0,1
1943,79,156,59,53,64,normal,1,0,0,1,1,0,0,0
738,40,2389,20,45,21,dos,1,0,1,0,0,0,0,1
1668,40,3319,20,45,21,dos,1,0,1,0,0,0,0,1
3750,1500,1145,1480,443,57,normal,1,0,1,0,0,0,1,0
10814,1500,2541,1480,443,58,normal,1,0,1,0,0,0,1,0
2608,40,4259,20,45,21,dos,1,0,1,0,0,0,0,1
3921,1500,1291,1480,443,57,normal,1,0,1,0,0,0,1,0
45,40,1696,20,45,21,dos,1,0,1,0,0,0,0,1
10372,1500,2125,1480,443,58,normal,1,0,1,0,0,0,1,0
3133,40,4784,20,45,21,dos,1,0,1,0,0,0,0,1
12760,83,64,63,443,224,normal,1,0,1,0,0,0,1,0
2603,40,4254,20,45,21,dos,1,0,1,0,0,0,0,1
6360,52,55,32,443,51,normal,1,0,1,0,0,0,1,0
449,40,2100,20,45,21,dos,1,0,1,0,0,0,0,1
7705,83,541,63,443,58,normal,1,0,1,0,0,0,1,0
3118,40,4769,20,45,21,dos,1,0,1,0,0,0,0,1
788,40,2439,20,45,21,dos,1,0,1,0,0,0,0,1
8670,1470,91,1450,443,121,normal,1,0,1,0,0,0,1,0
3449,1500,875,1480,443,57,normal,1,0,1,0,0,0,1,0

In [21]:
del x['port_open']

In [30]:
x.sample(5)

,IP_len,frequency,len2,ttl,label,direction_IN,direction_OUT,protocol_TCP,protocol_UDP,service_domain,service_http,service_https,service_unknown
3854,1500,1242,1480,57,normal,1,0,1,0,0,0,1,0
12457,52,23,32,57,normal,1,0,1,0,0,0,1,0
2776,40,4427,20,21,dos,1,0,1,0,0,0,0,1
547,52,9,32,242,normal,1,0,1,0,0,0,1,0
1871,142,139,122,64,normal,1,0,0,1,1,0,0,0

In [35]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
x['frequency'] = scaler.fit_transform(x['frequency'].values.reshape(-1,1))
x['IP_len'] = scaler.fit_transform(x['IP_len'].values.reshape(-1,1))
x['ttl'] = scaler.fit_transform(x['ttl'].values.reshape(-1,1))
x['len2'] = scaler.fit_transform(x['ttl'].values.reshape(-1,1))

In [36]:
x

,IP_len,frequency,len2,ttl,label,direction_IN,direction_OUT,protocol_TCP,protocol_UDP,service_domain,service_http,service_https,service_unknown
1047,0.000000,0.545841,0.000000,0.000000,dos,1,0,1,0,0,0,0,1
2879,0.000000,0.916616,0.000000,0.000000,dos,1,0,1,0,0,0,0,1
294,0.000000,0.393443,0.000000,0.000000,dos,1,0,1,0,0,0,0,1
2762,0.000000,0.892937,0.000000,0.000000,dos,1,0,1,0,0,0,0,1
2859,0.000000,0.912568,0.000000,0.000000,dos,1,0,1,0,0,0,0,1
3145,0.000000,0.970451,0.000000,0.000000,dos,1,0,1,0,0,0,0,1
1652,0.000000,0.668286,0.000000,0.000000,dos,1,0,1,0,0,0,0,1
1947,0.000000,0.727990,0.000000,0.000000,dos,1,0,1,0,0,0,0,1
2840,0.000000,0.908723,0.000000,0.000000,dos,1,0,1,0,0,0,0,1
2229,0.000000,0.785064,0.000000,0.000000,dos,1,0,1,0,0,0,0,1
729,0.000000,0.481481,0.000000,0.000000,dos,1,0,1,0,0,0,0,1
658,0.000000,0.467112,0.000000,0.000000,dos,1,0,1,0,0,0,0,1
2255,0.000000,0.790326,0.000000,0.000000,dos,1,0,1,0,0,0,0,1
1818,0.000000,0.701882,0.000000,0.000000,dos,1,0,1,0,0,0,0,1
357,0.000000,0.406193,0.000000,0.000000,dos,1,0,1,0,0,0,0,1
675,0.000000,0.470553,0.000000,0.000000,dos,1,0,1,0,0,0,0,1
3086,0.000000,0.958510,0.000000,0.000000,dos,1,0,1,0,0,0,0,1
101,0.000000,0.354382,0.000000,0.000000,dos,1,0,1,0,0,0,0,1
2945,0.000000,0.929974,0.000000,0.000000,dos,1,0,1,0,0,0,0,1
2893,0.000000,0.919450,0.000000,0.000000,dos,1,0,1,0,0,0,0,1
2794,0.000000,0.899413,0.000000,0.000000,dos,1,0,1,0,0,0,0,1
1446,0.000000,0.626594,0.000000,0.000000,dos,1,0,1,0,0,0,0,1
1855,0.000000,0.709371,0.000000,0.000000,dos,1,0,1,0,0,0,0,1
2443,0.000000,0.828375,0.000000,0.000000,dos,1,0,1,0,0,0,0,1
700,0.000000,0.475612,0.000000,0.000000,dos,1,0,1,0,0,0,0,1
3221,0.000000,0.985833,0.000000,0.000000,dos,1,0,1,0,0,0,0,1
704,0.000000,0.476422,0.000000,0.000000,dos,1,0,1,0,0,0,0,1
2606,0.000000,0.861364,0.000000,0.000000,dos,1,0,1,0,0,0,0,1
1018,0.000000,0.539972,0.000000,0.000000,dos,1,0,1,0,0,0,0,1
3156,0.000000,0.972678,0.000000,0.000000,dos,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12451,0.016438,0.002024,0.161435,0.161435,normal,1,0,1,0,0,0,1,0
5753,0.026027,0.055252,0.192825,0.192825,normal,1,0,0,1,0,0,0,1
12482,0.016438,0.026310,0.130045,0.130045,normal,1,0,1,0,0,0,1,0
9828,1.000000,0.322607,0.165919,0.165919,normal,1,0,1,0,0,0,1,0
7206,0.958904,0.041490,0.300448,0.300448,normal,1,0,1,0,0,0,1,0
7067,1.000000,0.079943,0.165919,0.165919,normal,1,0,1,0,0,0,1,0
9645,1.000000,0.287796,0.165919,0.165919,normal,1,0,1,0,0,0,1,0
11538,1.000000,0.644404,0.165919,0.165919,normal,1,0,1,0,0,0,1,0
10161,1.000000,0.388585,0.165919,0.165919,normal,1,0,1,0,0,0,1,0
6156,1.000000,0.014572,0.112108,0.112108,normal,1,0,1,0,0,0,1,0
6069,0.008904,0.060109,0.192825,0.192825,normal,1,0,0,1,0,0,0,1
4439,0.979452,0.033596,0.448430,0.448430,normal,1,0,1,0,0,0,1,0
10849,1.000000,0.520745,0.165919,0.165919,normal,1,0,1,0,0,0,1,0
10714,1.000000,0.494232,0.165919,0.165919,normal,1,0,1,0,0,0,1,0
8629,0.613699,0.223234,0.165919,0.165919,normal,1,0,1,0,0,0,1,0
10394,1.000000,0.434325,0.165919,0.165919,normal,1,0,1,0,0,0,1,0
5619,0.195890,0.002226,0.165919,0.165919,normal,1,0,1,0,0,0,1,0
9615,1.000000,0.282534,0.165919,0.165919,normal,1,0,1,0,0,0,1,0
4726,0.029452,0.070431,0.448430,0.448430,normal,1,0,1,0,0,0,1,0
8506,0.008219,0.004048,0.143498,0.143498,normal,1,0,1,0,0,0,1,0
12,0.022603,0.000405,0.192825,0.192825,normal,0,1,0,1,1,0,0,0
8244,0.894521,0.203198,0.165919,0.165919,normal,1,0,1,0,0,0,1,0
6693,0.022603,0.063752,0.192825,0.192825,normal,0,1,0,1,1,0,0,0
151,0.024658,0.006072,0.192825,0.192825,normal,0,1,0,1,1,0,0,0
11609,1.000000,0.658571,0.165919,0.165919,normal,1,0,1,0,0,0,1,0
4151,1.000000,0.300344,0.161435,0.161435,normal,1,0,1,0,0,0,1,0
5975,0.008219,0.007691,0.986547,0.986547,normal,1,0,1,0,0,0,1,0
5456,0.979452,0.010524,0.448430,0.448430,normal,1,0,1,0,0,0,1,0
7942,1.000000,0.142886,0.165919,0.165919,normal,1,0,1,0,0,0,1,0
2412,1.000000,0.087432,0.161435,0.161435,normal,1,0,1,0,0,0,1,0

In [58]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split


data = x.iloc[:,[0,1,2]]
labels = x.iloc[:,[4]]
x_train, x_test, y_train, y_test = train_test_split(data,labels, test_size=0.4, random_state=1 )
knn = KNeighborsClassifier(n_neighbors=30)

In [59]:
import numpy as np
knn.fit(x_train,y_train.values.ravel())

knn.score(x_test, np.ravel(y_test))

1.0