# Preprocessing DOS

In [1]:
!ls ../data

dos.json  normal.json

In [2]:
import pandas as pd

In [3]:
dos = pd.read_json('../data/dos.json')

In [5]:
dos.sample(5)

      IP_len direction  frequency  len2  port_open protocol  service  ttl
3253      40        IN       4904    20         45      TCP  unknown   21
1490      40        IN       3141    20         45      TCP  unknown   21
1902      40        IN       3553    20         45      TCP  unknown   21
190       40        IN       1841    20         45      TCP  unknown   21
297       40        IN       1948    20         45      TCP  unknown   21

In [7]:
normal = pd.read_json('../data/normal.json')
normal.sample(5)

       IP_len direction  frequency  len2  port_open protocol  service  ttl
6098       53        IN        302    33      49572      UDP  unknown   64
11239      52        IN        192    32        443      TCP    https  121
12416      83        IN         50    63        443      TCP    https   57
10119    1500        IN       1879  1480        443      TCP    https   58
9875     1500        IN       1639  1480        443      TCP    https   58

In [8]:
normal.service.unique()

array(['ntp', 'unknown', 'domain', 'http', 'https'], dtype=object)

In [9]:
normal.protocol.unique()

array(['UDP', 'TCP'], dtype=object)

In [10]:
dos.service.unique()

array(['unknown'], dtype=object)

# Set labels

In [11]:
dos['label'] = 'dos'

In [12]:
dos.sample(5)

,IP_len,direction,frequency,len2,port_open,protocol,service,ttl,label
2295,40,IN,3946,20,45,TCP,unknown,21,dos
952,40,IN,2603,20,45,TCP,unknown,21,dos
1584,40,IN,3235,20,45,TCP,unknown,21,dos
2712,40,IN,4363,20,45,TCP,unknown,21,dos
515,40,IN,2166,20,45,TCP,unknown,21,dos

In [13]:
normal['label'] = 'normal'
normal.sample(5)

,IP_len,direction,frequency,len2,port_open,protocol,service,ttl,label
12383,52,IN,22,32,443,TCP,https,120,normal
7240,1440,IN,238,1420,443,TCP,https,88,normal
11543,273,IN,40,253,443,TCP,https,56,normal
8236,1500,IN,998,1480,443,TCP,https,58,normal
5182,1500,IN,101,1480,443,TCP,https,58,normal

In [14]:
len(normal)

12810

In [15]:
len(dos)

3293

In [21]:
dos_sample = dos.sample(500)
dos_sample.sample(20)

,IP_len,direction,frequency,len2,port_open,protocol,service,ttl,label
2436,40,IN,4087,20,45,TCP,unknown,21,dos
2498,40,IN,4149,20,45,TCP,unknown,21,dos
794,40,IN,2445,20,45,TCP,unknown,21,dos
2409,40,IN,4060,20,45,TCP,unknown,21,dos
3138,40,IN,4789,20,45,TCP,unknown,21,dos
1793,40,IN,3444,20,45,TCP,unknown,21,dos
897,40,IN,2548,20,45,TCP,unknown,21,dos
2397,40,IN,4048,20,45,TCP,unknown,21,dos
1256,40,IN,2907,20,45,TCP,unknown,21,dos
36,40,IN,1687,20,45,TCP,unknown,21,dos
202,40,IN,1853,20,45,TCP,unknown,21,dos
1435,40,IN,3086,20,45,TCP,unknown,21,dos
659,40,IN,2310,20,45,TCP,unknown,21,dos
3025,40,IN,4676,20,45,TCP,unknown,21,dos
199,40,IN,1850,20,45,TCP,unknown,21,dos
926,40,IN,2577,20,45,TCP,unknown,21,dos
3075,40,IN,4726,20,45,TCP,unknown,21,dos
719,40,IN,2370,20,45,TCP,unknown,21,dos
1668,40,IN,3319,20,45,TCP,unknown,21,dos
3193,40,IN,4844,20,45,TCP,unknown,21,dos

In [22]:
normal_sample = normal.sample(500)
normal_sample.sample(20)

,IP_len,direction,frequency,len2,port_open,protocol,service,ttl,label
12419,52,IN,15,32,443,TCP,https,120,normal
11921,1500,IN,3542,1480,443,TCP,https,58,normal
12365,83,IN,15,63,443,TCP,https,53,normal
3805,1500,IN,1198,1480,443,TCP,https,57,normal
2310,1500,IN,604,1480,443,TCP,https,57,normal
854,1500,IN,70,1480,443,TCP,https,57,normal
11163,1500,IN,2849,1480,443,TCP,https,58,normal
7182,1440,IN,190,1420,443,TCP,https,88,normal
8717,1440,IN,430,1420,443,TCP,https,88,normal
7220,87,IN,220,67,443,TCP,https,88,normal
7355,1440,IN,297,1420,443,TCP,https,88,normal
11104,1500,IN,2800,1480,443,TCP,https,58,normal
6412,1500,IN,86,1480,443,TCP,https,51,normal
2882,1500,IN,535,1480,443,TCP,https,57,normal
7510,1500,IN,2,1480,443,TCP,https,46,normal
9726,1500,IN,1497,1480,443,TCP,https,58,normal
8173,1500,IN,936,1480,443,TCP,https,58,normal
4589,100,IN,213,80,53,UDP,domain,64,normal
1703,52,IN,14,32,80,TCP,http,58,normal
4578,52,IN,303,32,443,TCP,https,121,normal

In [26]:
data= pd.concat([dos_sample, normal_sample])
data.sample(20)

,IP_len,direction,frequency,len2,port_open,protocol,service,ttl,label
12498,64,IN,18,44,443,TCP,https,120,normal
3209,1500,IN,745,1480,443,TCP,https,57,normal
7921,995,IN,686,975,443,TCP,https,58,normal
3193,40,IN,4844,20,45,TCP,unknown,21,dos
9532,1500,IN,1328,1480,443,TCP,https,58,normal
10495,1500,IN,2238,1480,443,TCP,https,58,normal
384,40,IN,2035,20,45,TCP,unknown,21,dos
7118,1440,IN,131,1420,443,TCP,https,88,normal
6412,1500,IN,86,1480,443,TCP,https,51,normal
2993,40,IN,4644,20,45,TCP,unknown,21,dos
2201,40,IN,3852,20,45,TCP,unknown,21,dos
439,1476,IN,41,1456,443,TCP,https,52,normal
12419,52,IN,15,32,443,TCP,https,120,normal
1317,40,IN,2968,20,45,TCP,unknown,21,dos
9025,1500,IN,1642,1480,443,TCP,https,57,normal
7510,1500,IN,2,1480,443,TCP,https,46,normal
1104,40,IN,2755,20,45,TCP,unknown,21,dos
1867,87,IN,138,67,53,UDP,domain,64,normal
11852,1500,IN,3480,1480,443,TCP,https,58,normal
2941,40,IN,4592,20,45,TCP,unknown,21,dos