# Preprocessing DOS

In [1]:
!ls ../data

dos.json  normal.json

In [2]:
import pandas as pd

In [3]:
dos = pd.read_json('../data/dos.json')

In [4]:
dos.sample(5)

      IP_len direction  frequency  len2  port_open protocol  service  ttl
1910      40        IN       3561    20         45      TCP  unknown   21
697       40        IN       2348    20         45      TCP  unknown   21
1077      40        IN       2728    20         45      TCP  unknown   21
1409      40        IN       3060    20         45      TCP  unknown   21
3210      40        IN       4861    20         45      TCP  unknown   21

In [5]:
normal = pd.read_json('../data/normal.json')
normal.sample(5)

      IP_len direction  frequency  len2  port_open protocol service  ttl
281     1500        IN         35  1480        443      TCP   https   55
1674    1416        IN          3  1396        443      TCP   https  243
7900      83        IN        665    63        443      TCP   https   58
5525     126        IN          7   106        443      TCP   https   88
8651      52        IN        404    32        443      TCP   https   88

In [6]:
normal.service.unique()

array(['ntp', 'unknown', 'domain', 'http', 'https'], dtype=object)

In [7]:
normal.protocol.unique()

array(['UDP', 'TCP'], dtype=object)

In [8]:
dos.service.unique()

array(['unknown'], dtype=object)

# Set labels

In [9]:
dos['label'] = 'dos'

In [10]:
dos.sample(5)

,IP_len,direction,frequency,len2,port_open,protocol,service,ttl,label
1051,40,IN,2702,20,45,TCP,unknown,21,dos
312,40,IN,1963,20,45,TCP,unknown,21,dos
1856,40,IN,3507,20,45,TCP,unknown,21,dos
1825,40,IN,3476,20,45,TCP,unknown,21,dos
3232,40,IN,4883,20,45,TCP,unknown,21,dos

In [11]:
normal['label'] = 'normal'
normal.sample(5)

,IP_len,direction,frequency,len2,port_open,protocol,service,ttl,label
9487,1500,IN,1283,1480,443,TCP,https,58,normal
4927,52,IN,18,32,443,TCP,https,53,normal
2539,71,OUT,176,51,53,UDP,domain,64,normal
5974,880,IN,21,860,443,TCP,https,57,normal
4267,52,IN,16,32,443,TCP,https,53,normal

In [12]:
len(normal)

12810

In [13]:
len(dos)

3293

In [14]:
dos_sample = dos.sample(500)
dos_sample.sample(20)

,IP_len,direction,frequency,len2,port_open,protocol,service,ttl,label
109,40,IN,1760,20,45,TCP,unknown,21,dos
2945,40,IN,4596,20,45,TCP,unknown,21,dos
782,40,IN,2433,20,45,TCP,unknown,21,dos
1197,40,IN,2848,20,45,TCP,unknown,21,dos
1436,40,IN,3087,20,45,TCP,unknown,21,dos
2300,40,IN,3951,20,45,TCP,unknown,21,dos
2750,40,IN,4401,20,45,TCP,unknown,21,dos
2225,40,IN,3876,20,45,TCP,unknown,21,dos
268,40,IN,1919,20,45,TCP,unknown,21,dos
451,40,IN,2102,20,45,TCP,unknown,21,dos
285,40,IN,1936,20,45,TCP,unknown,21,dos
747,40,IN,2398,20,45,TCP,unknown,21,dos
519,40,IN,2170,20,45,TCP,unknown,21,dos
3247,40,IN,4898,20,45,TCP,unknown,21,dos
594,40,IN,2245,20,45,TCP,unknown,21,dos
3245,40,IN,4896,20,45,TCP,unknown,21,dos
1716,40,IN,3367,20,45,TCP,unknown,21,dos
2525,40,IN,4176,20,45,TCP,unknown,21,dos
1379,40,IN,3030,20,45,TCP,unknown,21,dos
1122,40,IN,2773,20,45,TCP,unknown,21,dos

In [15]:
normal_sample = normal.sample(500)
normal_sample.sample(20)

,IP_len,direction,frequency,len2,port_open,protocol,service,ttl,label
2204,52,IN,2,32,443,TCP,https,57,normal
1936,457,IN,12,437,443,TCP,https,57,normal
3315,1500,IN,801,1480,443,TCP,https,57,normal
4822,60,IN,86,40,443,TCP,https,51,normal
3580,1500,IN,991,1480,443,TCP,https,57,normal
3505,1500,IN,922,1480,443,TCP,https,57,normal
10831,1500,IN,2557,1480,443,TCP,https,58,normal
7952,1011,IN,717,991,443,TCP,https,58,normal
720,1500,IN,113,1480,443,TCP,https,57,normal
4355,1500,IN,1584,1480,443,TCP,https,57,normal
7867,1500,IN,636,1480,443,TCP,https,58,normal
954,1500,IN,170,1480,443,TCP,https,57,normal
6838,1470,IN,90,1450,443,TCP,https,121,normal
9884,1500,IN,1647,1480,443,TCP,https,58,normal
8565,40,IN,63,20,443,TCP,https,47,normal
7317,1440,IN,125,1420,443,TCP,https,88,normal
1375,167,OUT,96,147,53,UDP,domain,64,normal
7743,1440,IN,38,1420,443,TCP,https,90,normal
9896,1500,IN,1658,1480,443,TCP,https,58,normal
11693,1500,IN,3334,1480,443,TCP,https,58,normal

In [16]:
data= pd.concat([dos_sample, normal_sample])
data.sample(20)

,IP_len,direction,frequency,len2,port_open,protocol,service,ttl,label
7071,1500,IN,399,1480,443,TCP,https,58,normal
3414,1500,IN,844,1480,443,TCP,https,57,normal
3119,40,IN,4770,20,45,TCP,unknown,21,dos
8672,52,IN,93,32,443,TCP,https,121,normal
1136,40,IN,2787,20,45,TCP,unknown,21,dos
7255,1440,IN,253,1420,443,TCP,https,88,normal
6385,52,IN,15,32,443,TCP,https,56,normal
2513,40,IN,4164,20,45,TCP,unknown,21,dos
1753,60,IN,1,40,443,TCP,https,120,normal
2406,40,IN,4057,20,45,TCP,unknown,21,dos
1276,40,IN,2927,20,45,TCP,unknown,21,dos
1062,1500,IN,278,1480,443,TCP,https,57,normal
86,71,IN,21,51,60077,UDP,unknown,64,normal
6718,1500,IN,8,1480,443,TCP,https,46,normal
2255,40,IN,3906,20,45,TCP,unknown,21,dos
7834,1259,IN,603,1239,443,TCP,https,58,normal
93,40,IN,1744,20,45,TCP,unknown,21,dos
1461,40,IN,3112,20,45,TCP,unknown,21,dos
12182,1500,IN,3780,1480,443,TCP,https,58,normal
8980,432,IN,1620,412,443,TCP,https,57,normal

In [17]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [18]:
import numpy as np

In [19]:
x = pd.get_dummies(data, prefix_sep='_', columns=['direction', 'protocol', 'service'])

In [20]:
x.sample(20)

,IP_len,frequency,len2,port_open,ttl,label,direction_IN,direction_OUT,protocol_TCP,protocol_UDP,service_domain,service_http,service_https,service_unknown
781,40,2432,20,45,21,dos,1,0,1,0,0,0,0,1
2222,40,3873,20,45,21,dos,1,0,1,0,0,0,0,1
2878,1500,531,1480,443,57,normal,1,0,1,0,0,0,1,0
954,1500,170,1480,443,57,normal,1,0,1,0,0,0,1,0
3156,40,4807,20,45,21,dos,1,0,1,0,0,0,0,1
2013,203,172,183,53,64,normal,1,0,0,1,1,0,0,0
2454,40,4105,20,45,21,dos,1,0,1,0,0,0,0,1
3479,1500,901,1480,443,57,normal,1,0,1,0,0,0,1,0
1300,40,2951,20,45,21,dos,1,0,1,0,0,0,0,1
1205,40,2856,20,45,21,dos,1,0,1,0,0,0,0,1
2451,1500,32,1480,443,57,normal,1,0,1,0,0,0,1,0
1293,40,2944,20,45,21,dos,1,0,1,0,0,0,0,1
915,40,2566,20,45,21,dos,1,0,1,0,0,0,0,1
1098,40,2749,20,45,21,dos,1,0,1,0,0,0,0,1
9457,1500,1261,1480,443,58,normal,1,0,1,0,0,0,1,0
1376,182,97,162,53,64,normal,0,1,0,1,1,0,0,0
7790,1500,563,1480,443,58,normal,1,0,1,0,0,0,1,0
1996,40,3647,20,45,21,dos,1,0,1,0,0,0,0,1
2875,40,4526,20,45,21,dos,1,0,1,0,0,0,0,1
5550,1500,15,1480,443,55,normal,1,0,1,0,0,0,1,0

In [21]:
del x['port_open']

In [22]:
x.sample(5)

,IP_len,frequency,len2,ttl,label,direction_IN,direction_OUT,protocol_TCP,protocol_UDP,service_domain,service_http,service_https,service_unknown
1234,40,2885,20,21,dos,1,0,1,0,0,0,0,1
1452,1500,279,1480,57,normal,1,0,1,0,0,0,1,0
6,40,1657,20,21,dos,1,0,1,0,0,0,0,1
2440,40,4091,20,21,dos,1,0,1,0,0,0,0,1
11709,1500,3350,1480,58,normal,1,0,1,0,0,0,1,0

In [23]:
from sklearn.preprocessing import StandardScaler

freq_scaler = StandardScaler()
freq_scaler.fit(x['frequency'].values.reshape(-1,1))
x['frequency'] = freq_scaler.transform(x['frequency'].values.reshape(-1,1))
print(freq_scaler.mean_, freq_scaler.var_)

[2076.962] [2569176.902556]

In [24]:
iplen_scaler = StandardScaler()
iplen_scaler.fit(x['IP_len'].values.reshape(-1,1))
x['IP_len'] = iplen_scaler.transform(x['IP_len'].values.reshape(-1,1))
print(iplen_scaler.mean_, iplen_scaler.var_)

[548.838] [459352.027756]

In [25]:
ttl_scaler = StandardScaler()
ttl_scaler.fit(x['ttl'].values.reshape(-1,1))
x['ttl'] = ttl_scaler.transform(x['ttl'].values.reshape(-1,1))
print(ttl_scaler.mean_, ttl_scaler.var_)

[46.402] [1179.682396]

In [26]:
len2_scaler = StandardScaler()
len2_scaler.fit(x['len2'].values.reshape(-1,1))
x['len2'] = len2_scaler.transform(x['len2'].values.reshape(-1,1))
print(len2_scaler.mean_, len2_scaler.var_)

[528.838] [459352.027756]

In [27]:
freq_scaler.transform([[2167]])

array([[0.05617316]])

In [28]:
# x['frequency'][516]

In [29]:
def scale_data(a, means, var):
    return (a-means) / (var **0.5)

In [30]:
scale_data(2167, 2016.412, 1602.8211504269589)

3.76138538733121

In [31]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split


data = x.iloc[:,[0,1,2]]
labels = x.iloc[:,[4]]
x_train, x_test, y_train, y_test = train_test_split(data,labels, test_size=0.4, random_state=1 )
knn = KNeighborsClassifier(n_neighbors=30)

In [32]:
import numpy as np
knn.fit(x_train,y_train.values.ravel())

knn.score(x_test, np.ravel(y_test))

1.0

In [33]:
knn.predict([[1,0.6,0]])

array(['normal'], dtype=object)

In [34]:
from sklearn.externals import joblib

/home/bartek/PycharmProjects/test/venv/lib/python3.5/site-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

In [35]:
joblib.dump(knn, 'filename.pkl')

['filename.pkl']

In [36]:
from sklearn.svm import LinearSVC

In [37]:
svc = LinearSVC(random_state=0, tol=1e-5)

In [38]:
svc.fit(x_train, y_train.values.ravel())

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=0, tol=1e-05,
          verbose=0)

In [39]:
svc.score(x_test, y_test)

1.0

In [40]:
from sklearn.neural_network import MLPClassifier

In [41]:
mlp = MLPClassifier(random_state=1, max_iter=300).fit(x_train, y_train.values.ravel())

In [42]:
mlp.score(x_test, y_test)

1.0

In [43]:
x_test

         IP_len  frequency      len2
6650   1.314873  -1.247742  1.314873
10159  1.403401  -0.098550  1.403401
1122  -0.750770   0.434246 -0.750770
1126  -0.750770   0.436742 -0.750770
2567  -0.750770   1.335757 -0.750770
11786  1.403401   0.834779  1.403401
1055  -0.750770   0.392446 -0.750770
1355  -0.309607  -1.290790 -0.309607
1537  -0.750770   0.693157 -0.750770
1197  -0.750770   0.481037 -0.750770
1688  -0.750770   0.787364 -0.750770
592   -0.750770   0.103588 -0.750770
12397 -0.733064  -1.289542 -0.733064
2404  -0.750770   1.234064 -0.750770
6610   1.314873  -1.293285  1.314873
519   -0.750770   0.058045 -0.750770
497   -0.750770   0.044319 -0.750770
711   -0.750770   0.177830 -0.750770
10420  1.403401   0.057421  1.403401
1417  -0.750770   0.618292 -0.750770
6100  -0.707981  -1.113607 -0.707981
3166  -0.750770   1.709463 -0.750770
12071  1.403401   0.997612  1.403401
399    1.403401  -1.202198  1.403401
3085  -0.750770   1.658928 -0.750770
1318  -0.750770   0.556527 -0.750770
1299  -0.750770   0.544673 -0.750770
6982   1.314873  -1.264587  1.314873
11771 -0.733064  -1.261467 -0.733064
1181  -0.750770   0.471055 -0.750770
...         ...        ...       ...
3575   1.403401  -0.680632  1.403401
357   -0.750770  -0.043024 -0.750770
2900  -0.750770   1.543510 -0.750770
1200  -0.750770   0.482909 -0.750770
10635 -0.733064  -1.262091 -0.733064
2203  -0.750770   1.108663 -0.750770
1944  -0.693227  -1.198455 -0.693227
1778  -0.538304  -1.220291 -0.538304
8763   1.403401  -0.600775  1.403401
1421  -0.750770   0.620787 -0.750770
10105  1.403401  -0.132239  1.403401
480   -0.750770   0.033713 -0.750770
11527  1.403401   0.684423  1.403401
10606  1.403401   0.162857  1.403401
992    1.403401  -1.166013  1.403401
630   -0.750770   0.127296 -0.750770
2526  -0.750770   1.310178 -0.750770
899   -0.750770   0.295120 -0.750770
2087  -0.750770   1.036293 -0.750770
1452   1.403401  -1.121718  1.403401
3702   1.403401  -0.609510  1.403401
1045   1.403401  -1.132947  1.403401
2983  -0.750770   1.595292 -0.750770
374   -0.750770  -0.032418 -0.750770
35    -0.750770  -0.243914 -0.750770
356   -0.750770  -0.043648 -0.750770
1936  -0.135503  -1.288294 -0.135503
3169  -0.750770   1.711334 -0.750770
3385   1.403401  -0.779206  1.403401
2221  -0.733064  -0.947030 -0.733064

[400 rows x 3 columns]

In [44]:
knn.predict([[1,1,1]])

array(['normal'], dtype=object)

In [45]:
scaler.transform([[6]])

NameError: name 'scaler' is not defined